Package: com.leemin.lstimelightning16
Name: LSTimeLightning (iOS 15 - 16)
Version: 0.1.0
Architecture: iphoneos-arm
Description: Adds lightning time to lockscreen time.
Maintainer: lemin
Author: lemin
Section: Tweaks
