Package: com.leemin.lstimelightning16
Name: Lightning Time
Version: 0.2.0
Architecture: iphoneos-arm
Description: Adds lightning time to lockscreen time and status bar.
Maintainer: lemin
Author: lemin
Section: Tweaks
