<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>


            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>label</key>
                <string>Enable on Lock Screen</string>
                <key>key</key>
                <string>lsEnabled</string>
                <key>defaults</key>
                <string>com.leemin.lightningprefs</string>
                <key>id</key>
                <string>lsEnabled</string>
                <key>PostNotification</key>
                <string>com.leemin.lightningprefs/reloadPrefs</string>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>label</key>
                <string>Enable in Status Bar</string>
                <key>key</key>
                <string>sbEnabled</string>
                <key>defaults</key>
                <string>com.leemin.lightningprefs</string>
                <key>id</key>
                <string>sbEnabled</string>
                <key>PostNotification</key>
                <string>com.leemin.lightningprefs/reloadPrefs</string>
            </dict>


            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string></string>
                <key>footerText</key>
                <string>Respring required for changes to apply.</string>
                <key>footerAlignment</key>
                <integer>1</integer>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>default</key>
                <real>0.6</real>  
                <key>defaults</key>
                <string>com.leemin.lightningprefs</string>
                <key>key</key>
                <string>updateFreq</string>
                <key>validTitles</key>
                <array>
                    <string>0.1s</string>
                    <string>0.2s</string>
                    <string>0.6s</string>
                    <string>1.2s</string>
                </array>
                <key>validValues</key>
                <array>
                    <real>0.1</real>
                    <real>0.2</real>
                    <real>0.6</real>
                    <real>1.2</real>
                </array>
                <key>label</key>
                <string>Update Frequency</string>
                <key>PostNotification</key>
                <string>com.leemin.lightningprefs/reloadPrefs</string>
            </dict>
	</array>
	<key>title</key>
	<string>Lightning Time</string>
</dict>
</plist>
